
.tier {
 flex: 1;
 display: flex;
 flex-direction: row;
}
.container {
 margin-bottom: 32px;
 margin-left: 32px;
 margin-right: 32px;
 
 flex: 1;

 border-radius: 1rem;
 overflow: hidden;
 border-width: 1px;
 border-style: solid;
 border-color: #013058;
 background-color: black;
}
.container > canvas {
 height: 100%;
 width: 100%;
 object-fit: contain;
}

.drawer {
 /* height: 20%; */
 flex: 0.1;
}

.drawer > .item {
 cursor: grab;
 width: 100%;
}